<div class=image-main-recipes  style="background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://cdn.dribbble.com/users/4712379/screenshots/12064153/media/9a3dc130366a2cb0784900f3a916467c.png);">
</div>

<div class="title-grid">
  <h2 class="index-title">Découvrez nos recettes sans gluten</h2>
  <!-- searchbar-->
  <div>
    <% if current_page?('/') %>
    <% else %>
    <div class="form-group index-searchbar">
        <div>
          <%= form_tag recipes_path, method: :get do %>
          <%= text_field_tag :query,params[:query],class: "form-control form-frame",
            placeholder: "Je cherche..."%>
        </div>
        <div>
          <%= submit_tag "➔", class: "small-pink-button-searchbar" %>
        </div>
        <% end %>
    </div>

  <% end %>
  </div>

</div>

<div class="container-recipe">
  <div class="cards-grid">
    <% @recipes.each do |recipe|%>
      <%= link_to recipe_path(recipe) do %>
        <% if recipe.photo.attached? %>
        <div class ="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path recipe.photo.key %>')">
        <% else %>
        <div class ="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1515192088926-be05d2dded88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80')">
        <% end %>
          <div class="card-title">
            <%=recipe.name.capitalize%>
          </div>

          <div class="card-stars">
            <div class=''>
              <% if recipe.reviews.empty? %>
                <% else %>
                  <% if !@average.nil? %>
                    <%= icon('fas', 'star', class: 'star-rating') * (@average) %>
                    <% if @average.round != @average  %>
                      <%= icon('fas', 'star-half-alt', class: 'star-rating margin-half-star') %>
                    <% end %>
                    <%= icon('far', 'star', class: 'star-rating') * (5 - @average) %>
                  <% end %>
              <% end %>
            </div>

          </div>

          <div class="diet-icon-container">
            <% if recipe.dairyfree %>
              <%= image_tag("dairyfree.png", :class => " diet-icon-index")%>
            <% else %>
            <% end %>
            <% if recipe.eggfree %>
              <%= image_tag("eggfree.png", :class => " diet-icon-index")%>
            <% else %>
            <% end %>
            <% if recipe.vegan %>
              <%= image_tag("vegan.png", :class => " diet-icon-index")%>
            <% else %>
            <% end %>
          </div>

          </div>
      <% end %>
    <% end %>

    <div class="card-container">
      <% if policy(Recipe).create? %>
        <%= link_to new_recipe_path do %>
          <div class="round-card" style="background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://i.pinimg.com/474x/80/46/1a/80461a2037fae3da6c425c821c4eec3e.jpg);">
            <div class="card-title-add">+ votre recette</div>
          </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
