<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="my-4">Créez une nouvelle recette</h1>

      <%= simple_form_for @recipe do |f| %>
        <%= f.input :name, label: 'Nom de la recette' %>
        <%= f.input :description, label: 'Description de la préparation' %>
        <%= f.input :dairyfree, :as => :boolean, input_html: {checked: false}, label: "Sans laitage d'origine animale" %>
        <%= f.input :eggfree, :as => :boolean, input_html: {checked: false}, label: "Sans oeuf" %>
        <%= f.input :vegan, :as => :boolean, input_html: {checked: false}, label: "Vegan" %>
        <%= f.input :photo, as: :file %>
        <div class="button-container">
          <%= f.button :submit,'Créez votre recette', class: 'pink-button' %>
        </div>

      <% end %>
    </div>
  </div>
</div>
