
<% if @recipe.photo.attached?%>
  <div id="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('<%= cl_image_path @recipe.photo.key, crop: :fill %>')">
<% else %>
  <div id="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1515192088926-be05d2dded88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80/?recipe-<%=@recipe.name%>')" >
<% end %>
  <div class="recipe-items">
    <div class="recipe-information">
      <div class="recipe-title-container">
        <div class="recipe-title"><%= @recipe.name.capitalize %>
        </div>
        <div class="edit-delete">
            <%= link_to edit_recipe_path(@recipe) do%>
              <i id="show-icon" class="fas fa-edit"></i>
            <% end %>
            <%= link_to recipe_path(@recipe), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i id="show-icon" class="fa fa-trash destroy_dose"></i>
            <% end %>
        </div>
      </div>
      <div class='mt-2'>
        <% if @recipe.reviews.empty? %>
          <% else %>
            <% if !@average.nan? || @average.nil? %>
              <%= icon('fas', 'star', class: 'star-rating') * (@average) %>
              <% if @average.round != @average  %>
                <%= icon('fas', 'star-half-alt', class: 'star-rating margin-half-star') %>
              <% end %>
              <%= icon('far', 'star', class: 'star-rating') * (5 - @average) %>
            <% end %>
        <% end %>
      </div>
      <div>
        <div class="ingredient-title">Ingrédients</div>
        <div class="content-title-underline">
        </div>
          <ul>
            <% @recipe.doses.each do |dose| %>
              <li><%= dose.ingredient.name.capitalize %> : <%= dose.description %></li>
            <% end %>
          </ul>

      </div>

      <div>
        <%= link_to new_recipe_dose_path(@recipe) do %>
          <div class="add-recipe"><i class="fas fa-plus"></i>Ajouter un ingrédient à la recette
          </div>
        <% end %>
      </div>
      <p></p>

      </div>
    </div>
  </div>

<div class="container-recipe">
    <div class="recipe-grid">
    </div>

  <div class="preparation">
    <h3>Préparation</h3>
    <div class="content-title-underline">
    </div>
    <p><%= @recipe.description %></p>


  </div>

  <div>
        <h3 >Qu'en avez-vous pensé?</h3>
        <div class="content-title-underline">
        </div>
        <% if @recipe.reviews.empty? %>
          <p>Soyez le premier à donner votre avis sur cette recette</p>
        <% else %>
          <ul class="list-group">
            <% @recipe.reviews.each do |review| %>

              <li class="list-group-item review-box">
                <div><%= icon('fas', 'star', class: 'star-rating') * (review.rating) %><%= icon('far', 'star', class: 'star-rating') * (5 - review.rating) %>
                -  <%= review.content %>
                </div>
                <div class="review-user">
                  <div ><%= review.user.username %></div>
                  <%= link_to review_path(review), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i id="black-ud-icon" class="fa fa-trash destroy_dose ml-3 "></i>
                </div>

                <% end %>
              </li>
            <% end %>

          </ul>
        <% end %>


    <br>
        <%= link_to new_recipe_review_path(@recipe) do %>
          <span class="add-recipe"><i class="fas fa-plus mr-1"></i> Partagez avec nous votre avis sur la recette!</span>
        <% end %>

  </div>

</div>

