
<% if @recipe.photo.attached?%>
  <div id="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
    url('<%= cl_image_path @recipe.photo.key, crop: :fill %>')">
<% else %>
  <div id="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1515192088926-be05d2dded88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80/?recipe-<%=@recipe.name%>')" >
<% end %>
  <div class="recipe-items">
    <div class="recipe-information">
      <div class="recipe-title-container">
        <div class="recipe-title"><%= @recipe.name.capitalize %>
        </div>


          <div class="edit-delete">
            <% if policy(@recipe).edit? %>
              <%= link_to edit_recipe_path(@recipe) do%>
                <i id="show-icon" class="fas fa-edit"></i>
              <% end %>
            <% end %>
            <% if policy(@recipe).destroy? %>
              <%= link_to recipe_path(@recipe), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i id="show-icon" class="fa fa-trash destroy_dose"></i>
              <% end %>
            <% end %>
          </div>

      </div>
      <div class='star-recipe-information'>
        <% if @recipe.reviews.empty? %>
          <% else %>
            <% if !@average.nil? %>
              <%= icon('fas', 'star', class: 'star-rating') * (@average) %>
              <% if @average.round != @average  %>
                <%= icon('fas', 'star-half-alt', class: 'star-rating margin-half-star') %>
              <% end %>
              <%= icon('far', 'star', class: 'star-rating') * (5 - @average) %>
            <% end %>
        <% end %>
      </div>
      <div class='diet-recipe-information'>
        <% if @recipe.dairyfree %>
          <%= image_tag("dairyfree.png", :class => "mr-3 diet-recipe-information")%>
          <% else %>
        <% end %>
        <% if @recipe.eggfree %>
          <%= image_tag("eggfree.png", :class => "mr-3 diet-recipe-information")%>
          <% else %>
        <% end %>
        <% if @recipe.vegan %>
          <%= image_tag("vegan.png", :class => "mr-3 diet-recipe-information")%>
          <% else %>
        <% end %>
      </div>



      </div>
    </div>
  </div>
  <div class="recipe-elements-container">
    <div class="recipe-ingredients">
    <div class="ingredient-title">
      Ingrédients
    </div>
    <div>
        <ul>
          <% @recipe.doses.each do |dose| %>
            <li><%= dose.ingredient.name.capitalize %> : <%= dose.description %>
              <% if policy(dose).destroy? %>
                <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i id="show-icon"  class="fa fa-trash destroy_dose ml-3"></i>
              <% end %>
            <% end %>
            </li>
          <% end %>
        </ul>
    </div>
    <div>
      <% if @recipe.user == current_user %>
        <%= link_to new_recipe_dose_path(@recipe) do %>
          <div class="add-recipe">
            <i class="fas fa-plus mr-2"></i>
            Ajouter un ingrédient à la recette
          </div>
        <% end %>
      <% end %>
    </div>
    <p></p>

  </div>

  <div class="preparation">
    <h3 class="recipe-category-title">Préparation</h3>

    <ol class="recipe-description">
      <% @recipe.description.split(".").each do |line| %>
        <li class="recipe-steps">
          <%= line %>.
        </li>

      <% end %>
    </ol>



  </div>

  <div class="review">
    <h3 class="recipe-category-title">Qu'avez-vous pensé de cette recette de <%=@recipe.name %>?</h3>

    <% if @recipe.reviews.empty? %>
      <p>Soyez le premier à donner votre avis sur cette recette</p>
    <% else %>
      <ul class="list-group">
        <% @recipe.reviews.each do |review| %>

          <li class="review-box">
            <div class="review-rating-comments"><%= icon('fas', 'star', class: 'star-rating') * (review.rating) %><%= icon('far', 'star', class: 'star-rating') * (5 - review.rating) %>
            -  <%= review.content %>
            </div>
            <div class="review-user">
              <div ><%= review.user.username %></div>
              <% if policy(review).destroy? %>
                <div><%= link_to review_path(review), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i id="black-ud-icon" class="fa fa-trash destroy_dose ml-3 "></i></div>
              <% end %>
            </div>

            <% end %>
          </li>
        <% end %>

      </ul>
        <% end %>

    <div>
      <%= link_to new_recipe_review_path(@recipe) do %>
        <div class="add-recipe mt-3"><i class="fas fa-plus mr-1"></i>
          Partagez avec nous votre avis sur cette recette!
        </div>
      <% end %>
    </div>

  </div>

  </div>


