<div class="navbar navbar-expand-sm sticky-top navbar-dark navbar-glutenfree">
  <div class="navbar-logo-logotitle">
    <div>
      <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "cookie.png" %>
      <% end %>
    </div>
    <div>
      <%= link_to root_path, class: "navbar-brand" do %>
        <h3 id=logotitle>Glutenfree please!</h3>
      <% end %>
    </div>
  </div>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <div id="hello-username" class="nav-link">Hello <%= current_user.username%>!</div>
        </li>
        <li id="menu-item" class="nav-item">
          <%= link_to "Accueil", root_path, class: "nav-link" %>
        </li>
        <li id="menu-item" class="nav-item">
          <%=link_to "Recettes", recipes_path, class: "nav-link" %>
        </li>
        <li id="menu-item" class="nav-item">
          <%=link_to "Produits", ingredients_path, class: "nav-link" %>
        </li>

        <li class="nav-item dropdown">
          <%= image_tag "https://i.pinimg.com/564x/f4/e3/f3/f4e3f349769e8d7d212caaa42dda64d1.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Mon profil", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
